black
fs>=2.0.0
invoke>=2.2.0
lexicon
mock
poethepoet
poetry
pre-commit
pylint>=1.5.5
pytest-cov>=2.4.0
pytest-github-actions-annotate-failures
pytest>=2.9.1
radon>=1.4.2
ruff
setuptools>=23.1.0
toml
virtualenv>=15.0.3
wheel
pypiwin32; sys_platform == 'win32'
win32security; sys_platform == 'win32'
