black>=22.3.0
click
fs>=2.0.0
invoke>=2.2.0
lexicon
mock
poethepoet
poetry>=1.7.1
pre-commit
pylint>=1.5.5
pytest-cov>=2.4.0
pytest-github-actions-annotate-failures
pytest-xdist
pytest>=6.0.0
pywin32>=306; sys_platform == 'win32'
radon>=1.4.2
ruff
setuptools>=23.1.0
toml
types-chevron>=0.14.2
types-psutil>=5.9.5.1
types-pywin32>=304.0.0.1
types-PyYAML>=6.0.12
types-setuptools>=65.4.0.0
virtualenv>=15.0.3
wheel
pyinstaller
